name: CI Pipeline Simple

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Ejecutar pruebas (excluyendo tests de MongoDB)
        run: mvn clean test -Dtest="!UsuarioDAOTest"

      - name: Generar reporte JaCoCo
        run: mvn jacoco:report

      - name: Subir reporte
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cobertura-report
          path: target/site/jacoco/
